:root {
  --color-principal: rgb(0, 200, 255);
  --font-button: "Odibee Sans", cursive;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--color-principal);
}
#root {
  height: 100vh;
}
